<div class="row mt-4 justify-content-center">
	<div class="col-lg-5">
		<h1 class="text-center pb-4">New album</h1>
		  <%= render "form", album: @album %>
		<div class="mt-3 text-center">
		  <%= link_to "Back to albums-->", root_path, style: "text-decoration:none; color:black;" %>
		</div>
	</div>
</div>
<br>