* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#right{
	right: 0;
}

.con {
	overflow: auto;
}
#side {
	top: 10px;
	position: -webkit-sticky;
	position: sticky;
}

.list {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
}

.list1 {
	text-decoration: none;
	color: black;
	font-size: 1.8rem;
	font-weight: bold;
}
